language: python
python:
  - "3.6"
before_install:
  - pip install pytest pytest-cov
  - pip install codecov
  - pip install coverage
install:
  - pip install -r requirements.txt
script:
  - pytest --cov-config=.coveragerc --cov=. --cov-report html --cov-report xml
after_success:
  - codecov
